<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <div class="wrapper">
            <section id="featured-games">
                <h2>Featured Games</h2>
                <!--Image/feature 1-->
                <article>
                    <img scr='' alt=''>
                    <h3>Tilte</h3>
                    <p>Arbitror si nostrud. Iis et multos proident, aliqua appellat expetendis ita 
                        tamen quo mentitum, quo eu imitarentur, ea irure anim fugiat iudicem ab ut magna 
                        ea amet, voluptate nisi possumus si id magna quid si litteris. Eu quis nulla 
                        sunt commodo o o quid culpa enim quamquam, a summis elit sint nescius, deserunt 
                        multos dolore quo cillum.</p>
                </article>
                <!--Image/feature 3-->
                <article>
                    <img scr='' alt=''>
                    <h3>Tilte</h3>
                    <p>Paragraph copy</p>
                </article>
                <!--Image/feature 3-->
                <article>
                    <img scr='' alt=''>
                    <h3>Tilte</h3>
                    <p>Paragraph copy</p>
                </article>
                <!--buttons-->
                <ul>
                    <li><a href="">previous</a></li>
                    <li><a href="">previous</a></li>
                </ul>
            </section>
            <section id="top-games">
                <h2>Top games</h2>
                <!--Image/feature 1-->
                <article>
                    <img scr='' alt=''>
                    <h3>Tilte</h3>
                    <p>Paragraph copy</p>
                </article>
                <h2></h2>
                <!--Image/feature 2-->
                <article>
                    <img scr='' alt=''>
                    <h3>Tilte</h3>
                    <p>Paragraph copy</p>
                </article>
                <h2></h2>
                <!--Image/feature 3-->
                <article>
                    <img scr='' alt=''>
                    <h3>Tilte</h3>
                    <p>Paragraph copy</p>
                </article>
                <h2></h2>
                <!--Image/feature 4-->
                <article>
                    <img scr='' alt=''>
                    <h3>Tilte</h3>
                    <p>Paragraph copy</p>
                </article>
            </section>
        </div>    
    </section>
	

	<!-- End Component -->
	
</body>
</html>