<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Upcoming Event</h2>
        <article>
            <img src="page4_pic5.jpg" alt="An image of">
            <h3>Event Name</h3>
            <p>Cras id nunc pharetra, porttitor eros vitae, mollis erat. Suspendisse vel faucib us dapibus. Phasellus non </p>
            <p><a href="#">Read more</a></p>
        </article>
        
        <article>
            <img src="page4_pic6.jpg" alt="An image of">
            <h3>Event Name</h3>
            <p>Cras id nunc pharetra, porttitor eros vitae, mollis erat. Suspendisse vel faucib us dapibus. Phasellus non </p>
            <p><a href="#">Read more</a></p>
        </article>
        
        <article>
            <img src="page4_pic7.jpg" alt="An image of">
            <h3>Event Name</h3>
            <p>Cras id nunc pharetra, porttitor eros vitae, mollis erat. Suspendisse vel faucib us dapibus. Phasellus non </p>
            <p><a href="#">Read more</a></p>
        </article>
        
        <article>
            <img src="page4_pic8.jpg" alt="An image of">
            <h3>Event Name</h3>
            <p>Cras id nunc pharetra, porttitor eros vitae, mollis erat. Suspendisse vel faucib us dapibus. Phasellus non </p>
            <p><a href="#">Read more</a></p>
        </article>
    </section>
	

	<!-- End Component -->
	
</body>
</html>