<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Upcoming Event</h2>
        <article>
            <img src="" alt="An image of">
            <h3>Event Name</h3>
            <p>Paragraph copy</p>
            <p><a href="#">Read more</a></p>
        </article>
        
        <article>
            <img src="" alt="An image of">
            <h3>Event Name</h3>
            <p>Paragraph copy</p>
            <p><a href="#">Read more</a></p>
        </article>
        
        <article>
            <img src="" alt="An image of">
            <h3>Event Name</h3>
            <p>Paragraph copy</p>
            <p><a href="#">Read more</a></p>
        </article>
        
        <article>
            <img src="" alt="An image of">
            <h3>Event Name</h3>
            <p>Paragraph copy</p>
            <p><a href="#">Read more</a></p>
        </article>
    </section>
	

	<!-- End Component -->
	
</body>
</html>