<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Testimonials</h2>
        <article>
            <img src="Tim.jpg" alt="An image of Tim Barkley">
            <blockquote>Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio morbi.
                Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget</blockquote>
            <p><a href="#">Tim Barkley</a></p>
        </article>
        
        <article>
            <img src="John.jpg"  alt="An image of Mr. John Anderson">
            <blockquote>Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio morbi.
                Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget</blockquote>
            <p><a href="#">Mr. John Anderson</a></p>
        </article>
        
        <article>
            <img src="Lisa.jpg" alt="An image of Lisa whistler">
            <blockquote>Aenean nonummy hendrerit mau phasellu porta. Fusce suscipit varius mi sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio morbi.
                Ut viverra mauris justo, quis auctor nisi. Suspendisse sit amet diam diam, eget</blockquote>
            <p><a href="#">Lisa whistler</a></p>
        </article>
    </section>
	

	<!-- End Component -->
	
</body>
</html>