<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Testimonials</h2>
        <article>
            <img src="" alt="An image of Tim Barkley">
            <p>Paragraph  Copy</p>
            <p><a href="#">Tim Barkley</a></p>
        </article>
        
        <article>
            <img src=""  alt="An image of Mr. John Anderson">
            <p>Paragraph  Copy</p>
            <p><a href="#">Mr. John Anderson</a></p>
        </article>
        
        <article>
            <img src="" alt="An image of Lisa whistler">
            <p>Paragraph  Copy</p>
            <p><a href="#">Lisa whistler</a></p>
        </article>
    </section>
	

	<!-- End Component -->
	
</body>
</html>