<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <h1>GoodWork</h1>
        <nav>
            <ul>
                <li><a href="">Homepage</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Pages</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Homepage</a></li>
                <li>Items</li>
                <li>price</li>
            </ul>
        </nav>
    </header>
    <table>
        <tr>
            <th>What we think</th>
           
            <th>
                <p>showing</p>
                <form>
                    <select>
                        <option value="all">All</option>
                        <option value="video">Video</option>
                        <option value="gallery">Gallery</option>
                        <option value="Aduio">Aduio</option>
                        <option value="quote">Quote</option>
                        <option value="link">Link</option>
                        <option value="standard">Standard</option>
                        <option value="image">Image</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td>21st january 2013</td>
            <td>Example post witd gallery</td>
            <td>number</td>
            <td>Gallery</td>
        </tr>
        <tr>
            <td>19td january 2013</td>
            <td>tdis is a video post</td>
            <td>number</td>
            <td>Video</td>
        </tr>
        <tr>
            <td>13td january 2013</td>
            <td>Post witd Aduio</td>
            <td>number</td>
            <td>Aduio</td>
        </tr>
        <tr>
            <td>5td january 2013</td>
            <td>And tdis is quote</td>
            <td>number</td>
            <td>Quote</td>
        </tr>
        <tr>
            <td>5td january 2013</td>
            <td>Check tdis out link</td>
            <td>number</td>
            <td>Link</td>
        </tr>
        <tr>
            <td>1st january 2013</td>
            <td>Example of a standard post</td>
            <td>number</td>
            <td>Standard</td>
        </tr>
        <tr>
            <td>1st january 2013</td>
            <td>Single image post</td>
            <td>number</td>
            <td>Image</td>
        </tr>
    </table>
	<a href="#">Load more Post</a>

	<!-- End Component -->
	
</body>
</html>