<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <h1>Good<em>Work</em></h1>
        <nav>
            <ul>
                <li><a href="">Homepage</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Pages</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">0 Items <em>price</em></a></li>
            </ul>
        </nav>
    </header>
   
        <h2>What we think</h2>
        <form>
            <p>Showing</p>
            <select>
                <option value="all">All</option>
                <option value="video">Video</option>
                <option value="gallery">Gallery</option>
                <option value="Aduio">Aduio</option>
                <option value="quote">Quote</option>
                <option value="link">Link</option>
                <option value="standard">Standard</option>
                <option value="image">Image</option>
            </select>
        </form>
  
    <table>
        <tr>
            <th>Date</th>
            <th>Blog post</th>
            <th>comments</th>
            <th>Genge</th>
        </tr>
        <tr>
            <td>21st january 2013</td>
            <td><a href="gallery">Example post with gallery</a></td>
            <td>number</td>
            <td>Gallery</td>
        </tr>
        <tr>
            <td>19th january 2013</td>
            <td><a href="video">This is a video post</a></td>
            <td>number</td>
            <td>Video</td>
        </tr>
        <tr>
            <td>13th january 2013</td>
            <td><a href="audio">Post witd Audio</a></td>
            <td>number</td>
            <td>Audio</td>
        </tr>
        <tr>
            <td>5th january 2013</td>
            <td><a href="quote">And this is quote</a></td>
            <td>number</td>
            <td>Quote</td>
        </tr>
        <tr>
            <td>5th january 2013</td>
            <td><a href="link">Check this out link</a></td>
            <td>number</td>
            <td>Link</td>
        </tr>
        <tr>
            <td>1st january 2013</td>
            <td><a href="post">Example of a standard post</a></td>
            <td>number</td>
            <td>Standard</td>
        </tr>
        <tr>
            <td>1st january 2013</td>
            <td><a href="image">Single image post</a></td>
            <td>number</td>
            <td>Image</td>
        </tr>
    </table>
    <p><a href="#">+ Load more Post</a></p>

	<!-- End Component -->
	
</body>
</html>