<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <h1>GoodWork</h1>
    <nav>
        <ul>
            <li><a href="">Homepage</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Homepage</a></li>
            <li>Items</li>
            <li>price</li>
        </ul>
    </nav>
    <table>
        <tr>
            <th>What we think</th>
            <th>showing</th>
            <th>
                <form>
                    <select>
                        <option value="all">All</option>
                        <option value="video">Video</option>
                        <option value="gallery">Gallery</option>
                        <option value="Aduio">Aduio</option>
                        <option value="quote">Quote</option>
                        <option value="link">Link</option>
                        <option value="standard">Standard</option>
                        <option value="image">Image</option>
                    </select>
                </form>
            </th>
        </tr>
        <tr>
            <td>21st january 2013</td>
            <td>Example post with gallery</td>
            <td>number</td>
            <th>Gallery</th>
        </tr>
        <tr>
            <td>19th january 2013</td>
            <td>This is a video post</td>
            <td>number</td>
            <th>Video</th>
        </tr>
        <tr>
            <td>13th january 2013</td>
            <td>Post with Aduio</td>
            <td>number</td>
            <th>Aduio</th>
        </tr>
        <tr>
            <td>5th january 2013</td>
            <td>And this is quote</td>
            <td>number</td>
            <th>Quote</th>
        </tr>
        <tr>
            <td>5th january 2013</td>
            <td>Check this out link</td>
            <td>number</td>
            <th>Link</th>
        </tr>
        <tr>
            <td>1st january 2013</td>
            <td>Example of a standard post</td>
            <td>number</td>
            <th>Standard</th>
        </tr>
        <tr>
            <td>1st january 2013</td>
            <td>Single image post</td>
            <td>number</td>
            <th>Image</th>
        </tr>
    </table>
	<a href="#">Load more Post</a>

	<!-- End Component -->
	
</body>
</html>