/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

html{ font-size: 62.5%}
body {
    font: 300 1.4rem/1.7 sans-serif;
}

header {
    max-width: 1000px;
    background: #333333;
color: #ffffff;
    
}


h1 {
    width: 25%;
    float: left;
    font-size: 1.8rem;
    color: #ffffff;
}
h1::before {
    background: rgba(0, 0, 0, 0) url('logo.png') no-repeat scroll 0 0;
    content: "";
    height: 59px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 59px;
}

nav ul{
    width: 50%;
    float: left;
    margin-left: 100px;
}
nav li {
    width: 100;
    display: inline-block;
    text-transform: capitalize;
}


ul a{
    display: block;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

ul a:hover, .current{
  
}

p{
    width: 25%;
    float: left;
    font-size: 1.2rem;
    text-align: right;
    color: #ffffff;
}

p em {
    color: #5bc8a5;
    font-size: 1.5rem;/*15px*/
        
}
/* HEADER ======================================== */

