<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>

        <h1>Office Rent</h1>   
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">About Us</a>
                    <ul>
                        <li><a herf="#">Member</a></li>
                    </ul>
                </li>
                <li><a href="#">Our listings</a></li>
                <li><a href="#">Requests</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>    
        <p><em>Call our helpline:</em>800-123-4567</p>
    </header>
	

	<!-- End Component -->
	
</body>
</html>