<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h1>Path</h1>
        <p>Hello. Sign in</p>
        <form>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Email address">
            <label for="username">Password</label>
            <input type="password" name="password" required="required" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        <p><a href="#">Forgot your password?</a></p>
        <p>Not on path?<a href="#">Get started here.</a></p>
    </section>    
	<!-- End Component -->
	
</body>
</html>