<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <article>
            <img src="cta3.png" alt="An image of room with wooden varnish floor">
            <h2><em>The best</em>Flooring solutions</h2>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            <p><a href="#">Find a gift!</a></p>
        </article>
        <ul>
            <li><a href="prev">previous</a></li>
            <li><a href="next">next</a></li>
        </ul>
    </section>
	

	<!-- End Component -->
	
</body>
</html> 
