<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <article>
            <img scr="" alt="">
            <h3>The Best</h3>
            <p>Flooring solutions</p>
            <p>Paragraph copy</p>
            <p><a href="#">Find a gift!</a></p>
        </article>
        <ul>
            <li><a href="#">previous</a></li>
            <li><a href="#">next</a></li>
        </ul>
    </section>
	

	<!-- End Component -->
	
</body>
</html> 
