<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <h1><a href="#"><em>Artworks</em> the biggest choice on the web</a></h1>
        <form>
            <label for="search bar">Search</label>
            <input type="search" name="search bar" placeholder="Search">
            <input type="submit" value="submit">
        </form>
        <ul>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Create an account</a></li>
            <li><a href="#">Check out</a></li>
            <li>
                <a href="#">English</a>
                <ul>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Russian</a></li>
                </ul>
            </li>
            <li><a href="#">Currency</a>
                <ul>
                    <li><a href="#">Euro dollars - Euro</a></li>
                    <li><a href="#">Us dollars - USD</a></li>
                </ul>
            </li>
            <li><a href="https://www.facebook.com/login/">facebook</a></li>
            <li><a href="https://twitter.com/">twitter</a></li>
            <li><p>Welcome to our online store!</p></li>
            <li>Cart: O item(s)</li>
        </ul>   
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Products</a>
                    <ul>
                        <li><a href="#">sculptures</a></li>
                        <li><a href="#">Abstract art</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Blog</a>
                    <ul>
                        <li><a href="#">Abstract art</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Sale</a>
                    <ul>
                        <li><a href="#">Portrait art</a></li>
                    </ul>
                </li>
                <li><a href="#">About Us</a>
                </li>
                <li><a href="# ">Contact Us</a></li>
            </ul>
        </nav>     
    </header>
	

	<!-- End Component -->
	
</body>
</html>