/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

html {font-size: 62.5%;}

body {
    font: 300 1.4rem/2rem "Roboto", serif;
    color: #b4b4b4;
}
/*--------------------header--------------------*/
h1 {
    background: url(logo.gif) no-repeat;
    width: calc(100%/3);
    height: 12rem;
    float: left;
    padding-left: 5rem;
}
h1 a {
    display: block;
    text-indent: -9999px;
}
header form, header > ul {
    width: calc(100%/3 * 2 - 5em);
    float: right;
    text-align: right;
    padding-right: 5rem;
}
/*--------------------form-------------------------*/
form{
    
}
label {
    display: none;
}
input {
    padding: 7px 28px 7px 10px;
    width: 250px;
    border: 1px solid #777777;
    
    display: inline;
}
input[type*="submit"] {
    width: 40px;
    padding: 6px 0;
    text-indent: -9999px;
    background: url() no-repeat center;
    border-right: 1px solid #777777;
}
/*-----------------Account info--------------------*/
header > ul li {
    display: inline-block;
    border-right: 1px solid #d9d9d9;
    padding: 2px 12px 4px;
    position: relative;
}
header ul li a {
    display: block;
    color: #777;
    text-decoration: none;
}
header ul li > ul {
    display: none;
}
header li ul::before {
    content: "\25BC";
    font-size: 2.5rem;
    display: block;
    position: absolute;
    top: 37%;
    right: 12%;
}
header ul li > ul li a {
    width: 130px;
    text-align: left;
    border-bottom: 1px solid #777777;
    line-height: 1.7rem;
    padding: .5rem .5rem;
    text-align: left;
}
header ul li:hover > ul {
    position: absolute;
    display: table-column-group;
    background: #ffffff;
    z-index: 1;
}
header ul li:nth-of-type(1n+6) {
    border-right: none;
}
/*--------------------Main Nav------------------*/
nav::before {
    content: "";
    display: table;
    clear: both;
}
nav ul {
    background: #000000;
    overflow: hidden;
}
nav ul li {
    width: 130px;
    float: left;
    font: 1.7rem "Roboto Slab",serif;
    font-weight: 900;
    text-transform: uppercase;
    /*padding: 13px 13px 17px;*/
    border-right: 1px solid #777777;
   
}
nav ul li a{
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    display: block;
    color: #ffffff;
}
/*----------------dropdown----------------*/
nav ul li > ul {
    display: none;
}
nav ul li > ul li a {
    text-align: left;
    border-bottom: 1px solid #fff;
    font-weight: 300;
    line-height: 2rem;
    padding: 1rem 1.4rem;
    text-transform: none;
}
nav ul li:hover > ul  {
    position: absolute;
    display: block;
}
nav ul li > ul li {
    background: #000000;
}
