/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

html { font-size: 62.5%;}


body {
    font: 400 1.6rem/1.5 sans-serif;
    background: #eaeaea;
    color: #777777;
}
