<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <section>
            <h2>Featured Articles</h2>
            <!--Image/feature 1-->
            <article>
                <img scr="" alt="">
                <p>Dec 22, 2014</p>
                <p>Night life not for the faint of heart</p>
            </article>
            <!--browse-->
            <ul>
                <li><a href="#">previous</a></li>
                <li><a href="#">next</a></li>
            </ul>
            <!--Image/feature 2-->
            <article>
                <img scr="" alt="">
                <h3>Tilte</h3>
                <p>Paragraph copy</p>
            </article>
            <!--Image/feature 3-->
            <article>
                <img scr="" alt="">
                <h3>Tilte</h3>
                <p>Paragraph copy</p>
            </article>
        </section>
        <section>
            <h2>Featured Articles</h2>
            <article>
                <img scr="" alt="">
                <p><a href="#">Beautiful cities with friendly Neighborhood</a></p>
            </article>
            <article>
                <img scr="" alt="">
                <p><a href="#">xOS7 takes the shot on tour memories</a></p>
            </article>
            <article>
                <img scr="" alt="">
                <p><a href="#">Krammy awards games to come to an abrupt halt</a></p>
            </article>
        </section>
    </section>

	<!-- End Component -->
	
</body>
</html>