<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <footer>  
        <section class="about">
            <h2>about</h2>
            <p>Smart<em>mag</em></p>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <form>
                <label for="search">Subscribe to our newsletter:</label>
                <input type="text" name="Email address" placeholder="Email address"> 
                <label for="submit">Submit</label>
                <input type="submit" value="submit">
            </form>
        </section>

        <section class="post">
            <h2>Popular posts</h2>
            <article>
                <img src="android.jpg" alt="A picture of the android logo.">
                <h3>Dec 16, 2014</h3>
                <p><a href="">Andriod aoy aestyled again for the latest phone</a></p>
                <p>4</p>
            </article>
            <article>
                <img src="fashion.jpg" alt="A picture of a woman ">
                <h3>Dec 16, 2014</h3>
                <p><a href="">Fashion trends updates for the upcoming summer</a></p>
                <p>1</p>
            </article>
            <article>
                <img src="ring.jpg" alt="A picture of two rings">
                <h3>Dec 16, 2014</h3>
                <p><a href="#">My Precious, the Ring Saga 4th Espiode Arrived</a></p>
                <p>1</p>
            </article>
        </section>

        <section class="photos">
            <h2>Flickr photos</h2>
            <figure>
                <img src="images/1.jpg" alt="">
                <img src="images/2.jpg" alt="">
                <img src="images/3.jpg" alt="">
                <img src="images/4.jpg" alt="">
                <img src="images/5.jpg" alt="">
                <img src="images/6.jpg" alt="">
                <img src="images/7.jpg" alt="">
                <img src="images/8.jpg" alt="">
                <img src="images/9.jpg" alt="">
                <img src="images/10.jpg" alt="">
                <img src="images/11.jpg" alt="">
                <img src="images/12.jpg" alt="">
            </figure>
        </section>
   
        <section>
      
            <p>Copyright &copy; 2014 <a href="#">ThemeSphere</a>. Powered by <a href="#">WordPress</a>.</p>
            <ul>
                <li><a herf="">About</a></li>
                <li><a herf="">Privacy</a></li>
                <li><a herf="">Contact</a></li>
            </ul>       
        </section>
    </footer>
	

	<!-- End Component -->
	
</body>
</html>