<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <footer>
        <section>
            <section>
                <h2>about</h2>
                <p>Smartmag</p>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <form>
                    <label for="search">Subscribe to our newsletter:</label>
                    <input type="text" name="Email address" placeholder="Email address"> 
                    <label for="submit">Submit</label>
                    <input type="submit" value="submit">
                </form>
            </section>

            <section>
                <h2>Popular posts</h2>
                <article>
                    <img src="" alt="">
                    <h3>Dec 16, 2014</h3>
                    <p><a href="">Andriod aoy aestyled again for the latest phone</a></p>
                    <p>Comments 4</p>
                </article>
                <article>
                    <img src="" alt="">
                    <h3>Dec 16, 2014</h3>
                    <p><a href="">Fashion trends updates for the upcoming summer</a></p>
                    <p>Comments 1</p>
                </article>
                <article>
                    <img src="" alt="">
                    <h3>Dec 16, 2014</h3>
                    <p><a href="#">My Precious, the Ring Saga 4th Espiode Arrived</a></p>
                    <p>Comments 1</p>
                </article>
            </section>

            <section>
                <h2>Flickr photos</h2>
                <figure>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </figure>
            </section>
        </section>
        <section>
            <p>Copyright &copy; 2014 <a href="#">ThemeSphere</a>. Powered by <a href="#">WordPress</a>.</p>
            <ul>
                <li><a herf="">About</a></li>
                <li><a herf="">Privacy</a></li>
                <li><a herf="">Contact</a></li>
            </ul>
        </section>
    </footer>
	

	<!-- End Component -->
	
</body>
</html>