<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <footer>
        <section>
            <ul>
                <li><a href="home/standards.htm">Standards</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Certification</a></li>
                <li><a href="#">Management system standards</a></li>
                <li><a href="#">ISO 26000 - Social responsibility</a></li>
                <li><a href="#">ISO 31000 - Risk management</a></li>
                <li><a href="#">ISO 4217 - Currency codes</a></li>
                <li><a href="#">SO 8601 - Time and date format</a></li>
                <li><a href="#">ISO 639 - Language codes</a></li>
                <li><a href="#">ISO 3166 - Country codes</a></li>
            </ul>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Structure</a></li>
                <li><a href="#">The ISO story</a></li>
                <li><a href="#">Members</a></li>
                <li><a href="#">Annual Reports</a></li>
                <li><a href="#">ISO in figures </a></li>
                <li><a href="#">Organizations in cooperation with ISO</a></li>
                <li><a href="#">Consumers</a></li>
                <li><a href="#">SMEs</a></li>
                <li><a href="#">Conformity assessment</a></li>
                <li><a href="#">Developing countries</a></li>
                <li><a href="#">ISO Academy</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">ISO Awards</a></li>
            </ul>
            <ul>
                <li><a href="#">Standards development</a></li>
                <li><a href="#">Technical committees</a></li>
                <li><a href="#">Deliverables</a></li>
                <li><a href="#">Who develops standards </a></li>
                <li><a href="#">Why get involved?</a></li>
                <li><a href="#">Resource area</a></li>
                <li><a href="#">Governance - Technical Work</a></li>
            </ul>
            <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">ISO Standards in action</a></li>
                <li><a href="#">ISO Magazines</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">News archive</a></li>
                <li><a href="#">Media kit</a></li>

            </ul>
            <ul>
                <li><a href="#">Store</a></li>
                <li><a href="#">Standards catalogue</a></li>
                <li><a href="#">Online collections</a></li>
                <li><a href="#">Graphical symbols</a></li>
            </ul>
        </section>
        <!-- social  -->
        <section>
            <ul>
                <li><a href="#">Privary and coprights</a></li>
                <li><a href="#">Name and Logo</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Contact Iso</a></li>
            </ul>
            <ul>
                <li><a href="home/contact_iso.htm">Contact ISO</a></li>
                <li><a href="http://www.iso.org/facebook">Facebook</a></li>
                <li><a href="http://www.iso.org/twitter">Twitter</a></li>
                <li><a href="http://www.iso.org/google+">Google plus</a></li>
                <li><a href="http://www.iso.org/youtube">Youtube</a></li>
                <li><a href="http://www.iso.org/linkedin">Linkin</a></li>
                <li><a href="http://www.iso.org/flickr">Flickr</a></li>
            </ul>
            <p>We are committed to ensuring that our website is accessible to everyone. If you have any questions or suggestions regarding the accessibility of this site, please <a href="#">contact us</a>.</p>
            <p><a href="#">&copy; All Rights Reserved.</a></p>
        </section>
    </footer>


	<!-- End Component -->

</body>
</html>
