/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

html {
    font-size: 62.5%;
}

body {
    font: 1.4rem/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

p {
    font-size: 1.2rem;
}
/*Footer*/
footer {
    background-color: #051c33;
    
}
.top-footer {
    border-top: 3px solid #e7f0f5;
    border-left: ;
    background: #ffffff;
   
}

.top-footer ul {
    width: calc(100%/5 - 4rem);
    padding-left: 2rem;
    float:left;
    margin: 1.4rem;
    margin-bottom: 3rem;
}

.top-footer ul li a {
    color: #828e99;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.top-footer ul li a:hover {
    color: #013568;
    
}

.top-footer ul li:first-of-type { 
    padding-bottom: 1.4rem;
}

.top-footer ul li:first-of-type a {
    color: #828e99;
    font-weight: 600;
}
.top-footer ul li:first-of-type a:hover, .top-footer ul li a[href*='standards'] {
    color: #013568;
}
.top-footer::after {
    content: "";
    display: table;
    clear: left;
}
/*Lower footer*/
.low-footer {
    border-bottom: 8px solid #1a3e62;
    border-top: 1px solid #828e99;
    color: #fff;
    padding-top: 1.5em;
    text-align: center;
}

.low-footer ul, p {
    padding-bottom: 1.5rem;
}

.low-footer ul li {
    width: 150px;
    display: inline;
    padding-right: 2.2rem;
}

.low-footer a {
    color: #828e99;
    
}
.low-footer a:hover {
    text-decoration: underline;
}
.low-footer ul:last-of-type li a {
    text-indent: -9999px;
}
.low-footer li a[href*='contact_iso'] {
    background: url(image/contact.png) no-repeat center;
}
.low-footer a[href*='facebook'] {
    background: url(facebook.png) no-repeat center center;
}
.low-footer a[href*='twitter'] {
    background: url(twiiter.png) no-repeat center;
}
.low-footer a[href*='google+'] {
    background: url(google.png) no-repeat center;
}
.low-footer a[href*='youtube'] {
    background: url(youtube.png) no-repeat center;
}
.low-footer a[href*='linkin'] {
    background: url(linkedin.png) no-repeat center; 
}
.low-footer a[href*='flickr'] {
    background: url(flickr.png) no-repeat center;
}
