<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section class="team">
        <h2>meet our team</h2>
        <!--Person 1-->
        <article>
            <img src="">
            <ul>
                <li><a herf="">facebook</a></li>
                <li><a herf="">twitter</a></li>
                <li><a herf="">google plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>Amet sed qui velit laborum. Minim quo qui aute litteris ne ita culpa vidisse 
                nostrud, ubi singulis fidelissimae ea voluptate veniam aliquip doctrina. 
            <p><a href="">more info</a></p>
        </article>
        <!--Person 1-->
        <article>
            <img src="">
            <ul>
                <li><a herf="#">facebook</a></li>
                <li><a herf="#">twitter</a></li>
                <li><a herf="#">google plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>Amet sed qui velit laborum. Minim quo qui aute litteris ne ita culpa vidisse 
                nostrud, ubi singulis fidelissimae ea voluptate veniam aliquip doctrina. </p>
            <p><a href="#">more info</a></p>
        </article>
        <!--Person 1-->
        <article>
            <img src="">
            <ul>
                <li><a herf="#">facebook</a></li>
                <li><a herf="#">twitter</a></li>
                <li><a herf="#">google plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>Amet sed qui velit laborum. Minim quo qui aute litteris ne ita culpa vidisse 
                nostrud, ubi singulis fidelissimae ea voluptate veniam aliquip doctrina.  </p>
            <p><a href="#">more info</a></p>
        </article>
        <!--Person 1-->
        <article>
            <img src="">
            <ul>
                <li><a herf="#">facebook</a></li>
                <li><a herf="#">twitter</a></li>
                <li><a herf="#">google plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>Amet sed qui velit laborum. Minim quo qui aute litteris ne ita culpa vidisse nostrud, ubi singulis fidelissimae ea voluptate veniam aliquip doctrina. </p>
            <p><a href="#">more info</a></p>
        </article>
    </section>

	<!-- End Component -->
	
</body>
</html>