<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <h2>meet our team</h2>
        <!--Person 1-->
        <article>
            <img src="">
            <ul>
                <li><a herf=""></a>facebook</li>
                <li><a herf=""></a>twitter</li>
                <li><a herf=""></a>google plus</li>
            </ul>
            <h3>Sam Brown</h3>
            <p>Team member bio</p>
            <p><a href="">more info</a></p>
        </article>
        <!--Person 1-->
        <article>
            <img src="">
            <ul>
                <li><a herf=""></a>facebook</li>
                <li><a herf=""></a>twitter</li>
                <li><a herf=""></a>google plus</li>
            </ul>
            <h3>Sam Brown</h3>
            <p>Team member bio</p>
            <p><a href="">more info</a></p>
        </article>
        <!--Person 1-->
        <article>
            <img src="">
            <ul>
                <li><a herf=""></a>facebook</li>
                <li><a herf=""></a>twitter</li>
                <li><a herf=""></a>google plus</li>
            </ul>
            <h3>Sam Brown</h3>
            <p>Team member bio</p>
            <p><a href="">more info</a></p>
        </article>
        <!--Person 1-->
        <article>
            <img src="">
            <ul>
                <li><a herf=""></a>facebook</li>
                <li><a herf=""></a>twitter</li>
                <li><a herf=""></a>google plus</li>
            </ul>
            <h3>Sam Brown</h3>
            <p>Team member bio</p>
            <p><a href="">more info</a></p>
        </article>
    </section>

	<!-- End Component -->
	
</body>
</html>